
{% extends 'cadFiles/layout.html' %}
{% load static %}


{% block body %}
    
    {% comment %} <ul class="collection">
        {% for file in files %}
            <li class="collection-item"><a href="/details/{{file.id}}">{{file.document}}</a></li>
        {% endfor %}
    </ul> {% endcomment %}
<div class="container-fluid">
    <div class="container">
        <h5 class="center-align teal lighten-3" >PDF FILES </h5>
    </div>
    <div class="container" id="card_scroll" >
        {% for file in pdfFiles %}
        <div class="card" >
            <div class="card-content" >
                    
                    {{file.document}} | {{file.uploaded_at}}
                    <a href="/pdfExtract/{{file.id}}/" class="btn right" id="fileUpload">Extract</a> 
                    <a href="/deletepdf/{{file.id}}/" class="btn right" id="fileUpload">Delete</a> 
                    <br/>
                    <a href="/viewImage/{{file.id}}" >Images</a>
                    <a href="/viewPdfText/{{file.id}}" >Text</a>
                    <a href="/viewPdfCsv/{{file.id}}" >Table</a>
            </div>
        </div>
        {% endfor %} 
    </div>


        <div class="container">
            <h5 class="center-align teal lighten-3" >DXF FILES </h5>
        </div>
        <div class="container" id="card_scroll">
            {% for file in dxfFiles %}
                <div class="card" >
                    <div class="card-content">
                        {{file.document}} | {{file.uploaded_at}}
                        <p>{{file.dxfVesion}}, Layer count: {{file.layer_count}}, Block Definition Count: {{file.block_definition_count}},
                            Entity Count: {{file.entity_count}}
                        </p>
                        <a href="/dxfExtract/{{file.id}}/" class="btn right" id="fileUpload">Extract</a> 
                        <a href="/deletedxf/{{file.id}}/" class="btn right" id="fileUpload">Delete</a> 
                        <br/>
                        <a href="/viewText/{{file.id}}" >Text</a>
                        <a href="/viewCsv/{{file.id}}" >LWPOLYLINES Vertices</a>
                    </div>
                </div>
            {% endfor %} 
        </div>
 
    <div class="container">
        <a href="/" class="btn">Go Back</a>
        
    </div>
</div>
{% endblock %}