<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>HOCHTIEF GROUP USA </title>
	  
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
	<header>
		{% include 'cadFiles/partials/_header.html' %}
	</header>
  
 
	{% block body %}
	<div id="loadpage" style="position:absolute; left:0px; top:0px; background-color:white; layer-background-color:white; height:100%; width:100%;"> 
			<p align="center" style="font-size: large;">
				<img src="{% static 'img/progress.gif' %}">
			</p>
		</div>
	{% endblock %}

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> {% endcomment %}
	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>

	{% block javascript%}

    <script>
        $(document).ready(function() 
        {
            $("#loadpage").hide();
        });
	</script>

	{% endblock %}
  </body>
</html>
