{% extends 'cadFiles/layout.html' %}
{% load static %}


{% block body %}
    
    {% comment %} <ul class="collection">
        {% for file in files %}
            <li class="collection-item"><a href="/details/{{file.id}}">{{file.document}}</a></li>
        {% endfor %}
    </ul> {% endcomment %}
<div class="container-fluid">
        <h5 class="center-align teal lighten-3" > IMAGES FROM PDF FILE </h5>
        <div class="row" id="card_scroll_img" >
            {% for file in item %}
                <div class="col s12 m6">
                    <div class="card  darken-1">
                    <div class="card-image">
                        <img alt="Embedded Image" src="{{file.imageFile.url}}" />
                    </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
        <a href="/files" class="btn">Go Back</a>

</div>
{% endblock %}