{% extends 'cadFiles/layout.html' %}
{% load static %}


{% block body %}
    
<div class="container-fluid">
        <h5 class="center-align teal lighten-3" > IMAGES FROM PDF FILE </h5>
        <div class="row" id="card_scroll_img" >
            {% for file in item %}
                <div class="col s12 m6">
                    <div class="card  darken-1">
                    <div class="card-image">
                        <img alt="Embedded Image" src="{{file.imageFile.url}}" />
                    </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
        <a href="/pdffiles" class="btn">Go Back</a>

</div>
{% endblock %}