<div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About the App</h5>
            <p class="grey-text text-lighten-4">
              This web application was developed as a prototype to demonstrate that 
            data can be extracted from unstructed data sources like PDF, DXF, etc.
          This application used core Python to parse and extract data from files and Django with SQLite3 
        to make the web interface.</p>
          </div>
          {% comment %} <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div> {% endcomment %}
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          {% comment %} Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Niraj Gupta</a> {% endcomment %}
        </div>
      </div>

    </div>