
{% load static %}

{% comment %} <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Mortgage Calculator</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/add">Upload File</a></li>
          </ul>
        </div>
    </nav>
  {% endcomment %}
{% comment %} <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <ul id="right hide nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> {% endcomment %}

  <nav class="teal lighten-2" role="navigation" >
      <div class="nav-wrapper container" >
        <a href="#" class="brand-logo"> <img class="ht_logo" src="{% static 'img/_ht_logo.gif' %}" margin-top = 10px; alt="My image"/> </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% comment %} <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li> {% endcomment %}
        </ul>
      </div>
    </nav>